* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}

/*FONTS*/

/*h1, h2, h3, h4, h5, h6, title {
	font-family: 'Montserrat', sans-serif;
}*/

/******* FOR EDITING / TO BE DELETED ********/
.container {
	border: 1px solid red;
}

.row {
	border: 1px solid blue;
}

.col {
	border: 1px solid green;
}

.d-flex {
	border-radius: 1px solid yellow;
}


/******* CONTAINERS ********/

.row {
	padding: 0;
}

#home, #about, #services, #reviews, #contact {
	height: 100vh;
}

/******* ABOUT ********/


.jumbotron {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;

}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

.fadeIn{
	animation-duration: 5s;
}

#mission {
	height: 100%;
	background-color: #141414;
}

#about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}


#vision {
	height: 100%;
	background-color: #f2f2f2;
}


/******* GALLERY ********/


#gallery .card {
	box-shadow: 1px 1px 10px 4px gray;
	border-radius: 0;
	border-color: 1px solid white;
	width: auto;
}


#gallery .card:hover {
	animation: fadeIn;
	animation-duration: 2s;
	animation-delay: 0s;
}

.myframe {
	width: 100%;
	height: 500px;
}






/******* FOOTER ********/



/******* CONTACT PAGE ********/



iframe {
	width: 100%;
	height: auto;
}

textarea {
	margin: 0 15px;
}

#file {
	display: none;
	visibility: hidden;
	position: absolute;
}


/*TABLET STYLE**************************/


@media only screen and (min-width: 401px) and (max-width: 960px) {



}

/*MOBILE STYLE**************************/

@media only screen and (max-width: 400px) {
	

}





/******* FOR EDITING / TO BE DELETED ********/

.outer {
	width: 150px;
	height: 150px;
}

.middle {
	opacity: .3;
	width: 150px;
	height: 150px;
}


.outer {
	border: 1px s
}
/******* FOR EDITING / TO BE DELETED ********/

/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/
/******* FOR EDITING / TO BE DELETED ********/




